@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark-blue: #1E2B4D;
    --button-blue: #335FC2;
    --text-blue: #2E4C9A;
    --light-blue: #C6DEF7;
    --blue-950: #1E2B4D;
    --blue-900: #2B447D;
    --blue-800: #2E4C9A;
    --blue-700: #335FC2;
    --blue-600: #3C73DA;
    --blue-500: #518DE0;
    --blue-400: #72ACE8;
    --blue-300: #A0C9F0;
    --blue-200: #C6DEF7;
    --blue-100: #DFECFA;
    --blue-50: #F1F7FD;
    --grey-50: #F6F6F9;
    --grey-100: #ECEDF2;
    --grey-200: #D5D7E2;
    --grey-300: #BCBEC9;
    --grey-400: #A3A5B0;
    --grey-500: #8A8C97;
    --grey-600: #71737E;
    --grey-700: #585A65;
    --grey-800: #3F414C;
    --grey-900: #262833;
    --grey-950: #22232F;
    --green-50: #F2FAEB;
    --green-100: #DFF4D3;
    --green-200: #C3EAAC;
    --green-300: #9CDB7B;
    --green-400: #79CA51;
    --green-500: #5AAF33;
    --green-600: #438B25;
    --green-700: #356B20;
    --green-800: #2D551F;
    --green-900: #29491E;
    --green-950: #12270C;
    --red-100: #FFE0E0;
    --red-200: #FFC7C7;
    --red-300: #FF9F9F;
    --red-400: #FF6868;
    --red-500: #FA3939;
    --red-600: #DA1616;
    --red-700: #C31212;
    --red-800: #A11313;
    --red-900: #851717;
    --orange-100: #FEECD6;
    --orange-200: #FBD5AD;
    --orange-300: #F9B778;
    --orange-400: #F58E42;
    --orange-500: #F26E1D;
    --orange-600: #E75613;
    --font-family: 'Poppins', sans-serif;
}