
select {
    border: 2px solid var(--blue-500);
    border-radius: 12px;
    background-color: var(--white);
    padding: 12px;
    font-size: 14px;
    color: var(--gray-400);

    :hover {
        border-color: var(--blue-500);
    }

    color: var(--black);
    width: 100%;
}

select:focus {
    border-color: var(--blue-500);
    box-shadow: 0 0 0 1px var(--blue-500);
}

select:disabled {
    background-color: var(--gray-200);
    color: var(--gray-400);
    border-color: var(--gray-200);
}

select:disabled:hover {
    border-color: var(--gray-200);
}